@charset "UTF-8";
/* CSS Document */
html {}

body {	
	background-color:#290014;
	padding: 4rem;	
}

blockquote, blockquote p {
	background-color:#921F53;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5rem;
	color: #fff;
	border-radius: 15px;
	padding: 1.75rem;
	margin-left: 5%;
	margin-right: 5%;
}

cite {
	font-family: Arial, Helvetica, sans-serif;
	color: #F1A4C2;
	float: right;
	padding-right: 1.5rem;
	line-height: 0;
}

.quote1 {
	font-size: 8rem;
	color: #B7305F;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	width: .45em;
	position: relative;
	bottom: 25px;
}
	
.quote2 {
	font-size: 8rem;
	color: #B7305F;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
}
	



	




	
	

